html {
  font: 15pt Arial;
}
body {
  background: url("wallpaper-php.jpg") no-repeat top center fixed;
  background-size: cover;
}

div1::before {
  content: " Testando PHP - autor Victor ";
  font: 10pt Arial;
  font-weight: bold;
  color: white;
  background-color: #273747;
  padding: 5px;
  display: block;
  position: relative;

  left: -15px;
  width: 105%;
  border-radius: 3px;
}

div1 {
  background-color: rgba(255,255,255,.8);
  margin: 100px auto 100px auto;
  padding: 10px;
  width: 561px;
  min-height:300px;
  border-radius: 10px;
}

a {
  color: #273747;
  text-decoration: none;
  font-weight: bold;
  font: 11pt Helvetica;
}

a:hover {
  text-decoration: underline;
}

span.foco {
  font-weight: bold;
  color: #7e050c;
}

.botao{color: white; background-color: #273747; text-shadow: 2px 2px 2px #aaaaaa; padding: 10px;border-radius: 4px}
.botao:hover{background-color: #3e4f61;
}

/*Adicionar.php  arrumar o input*/
.input-field{margin-top:0px;
  margin-bottom: 0px;}

.bt{margin-top: 50px; margin-right: 10px; margin-left: 12px;}